<!doctype html>

<html ng-app="angHomeApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="m-3">
<div class="row justify-content-center" id="homeController" ng-controller="homeController">
    <ul class="list-group">
        <li class="list-group-item"><a href="/raceManagement"><h2>Race management</h2></a></li>
        <li class="list-group-item"><a href="/carManagement"><h2>Car management</h2></a></li>
        <li class="list-group-item"><a href="/circuitManagement"><h2>Circuit management</h2></a></li>
        <li class="list-group-item"><a href="/telemetry"><h2>Telemetry</h2></a></li>
    </ul>
</div>
</body>
</html>