<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <title>Formula 1</title>
</head>

<body>
<header class="mt-0 pt-0" style="background-image: url('../assets/images/formula1-bg-33.png');">
    <img src="../assets/images/formula1-bg1.png" width="250">

    <div class="row ml-0 mr-0">
        <div class="col-sm-12 pr-0">
            <a href="/telemetry">
                <div class="card">
                    <img class="card-img" src="../assets/images/formula-timing2.jpg" alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                        <h2 style="font-family: 'Montserrat-Bold'">TELEMETRY</h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 pr-0 first">
            <a href="/raceManagement">
                <div class="card">
                    <img class="card-img" style="height: 300px" src="../assets/images/Race.jpg" alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                        <h5>RACE MANAGEMENT</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 pl-0 pr-0">
            <a href="/carManagement">
                <div class="card">
                    <img class="card-img" style="height: 300px" src="../assets/images/Renault-RS18.jpg" alt=""
                         width="1920">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                        <h5>CAR MANAGEMENT</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 pl-0 pr-0">
            <a href="/circuitManagement">
                <div class="card">
                    <img class="card-img" style="height: 300px"
                         src="../assets/images/sport-sport-mecanique-formule-1-grand-prix-de-spa-francorchamps-belgique-04.jpg"
                         alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                        <h5>CIRCUIT MANAGEMENT</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</header>

<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/jquery-1.12.0.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/jquery.yu2fvl.js"></script>
<script src="../assets/js/main.js"></script>

</body>

</html>