<!doctype html>

<html ng-app="angTeleApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' type='text/css' href="/style.css"/>
    <script src="/telemetry.js"></script>
    <script src="/port.js"></script>

    <script type = "text/javascript">
        const socket = io();
        socket.on('message', function(msg) {
            angular.element($('#telemetryController')).scope().reloadRace();
            console.log("message: " + msg);
            ctx = $('#myChart');
            const options = {
                scales: {
                    yAxes: [{
                        ticks: {
                            reverse: true,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } }
                        }
                    }]
                },
                elements: {
                    line: {
                        tension: 0
                    }
                },
                animation: false
            };
            function getBoxWidth(labelOpts, fontSize) {
                return labelOpts.usePointStyle ?
                    fontSize * Math.SQRT2 :
                    labelOpts.boxWidth;
            };

            Chart.NewLegend = Chart.Legend.extend({
                afterFit: function() {
                    this.height = this.height + 100;
                },
            });

            function createNewLegendAndAttach(chartInstance, legendOpts) {
                var legend = new Chart.NewLegend({
                    ctx: chartInstance.chart.ctx,
                    options: legendOpts,
                    chart: chartInstance
                });

                if (chartInstance.legend) {
                    Chart.layoutService.removeBox(chartInstance, chartInstance.legend);
                    delete chartInstance.newLegend;
                }

                chartInstance.newLegend = legend;
                Chart.layoutService.addBox(chartInstance, legend);
            }

            // Register the legend plugin
            Chart.plugins.register({
                beforeInit: function(chartInstance) {
                    var legendOpts = chartInstance.options.legend;

                    if (legendOpts) {
                        createNewLegendAndAttach(chartInstance, legendOpts);
                    }
                },
                beforeUpdate: function(chartInstance) {
                    var legendOpts = chartInstance.options.legend;

                    if (legendOpts) {
                        legendOpts = Chart.helpers.configMerge(Chart.defaults.global.legend, legendOpts);

                        if (chartInstance.newLegend) {
                            chartInstance.newLegend.options = legendOpts;
                        } else {
                            createNewLegendAndAttach(chartInstance, legendOpts);
                        }
                    } else {
                        Chart.layoutService.removeBox(chartInstance, chartInstance.newLegend);
                        delete chartInstance.newLegend;
                    }
                },
                afterEvent: function(chartInstance, e) {
                    var legend = chartInstance.newLegend;
                    if (legend) {
                        legend.handleEvent(e);
                    }
                }
            });

            const car_positions = angular.element($('#telemetryController')).scope().car_positions;
            const lap_times_matrix = angular.element($('#telemetryController')).scope().lap_times_matrix;
            const race = angular.element($('#telemetryController')).scope().race;
            console.log(lap_times_matrix);
            var labels = [];
            for (var i = 1; i <= race.nb_laps; i++) {
                labels.push("L" + i);
            }
            data = {
                labels,
                datasets: car_positions.map((position, i) => ({
                    label: race.cars[i].car.driver,
                    data: position,
                    borderWidth: 1,
                    borderColor: '#' + race.cars[i].car.color
                }))
            };
            console.log(car_positions);
            window.dispatchEvent(new Event('resize'));
            myChart.destroy();
            myChart = new Chart(ctx, {type: "line", data, options});
        });
    </script>
</head>
<body class="m-3" style="
	background-image: url('/assets/images/norris.jpg');
	background-attachment: fixed;
  	background-size: cover;
  	color: white;
	">
<div id="telemetryController" ng-controller="telemetryController">
    <img src="../assets/images/formula1-bg.png" width="250" align="right">
    <button ng-click="back()" class="btn btn-outline-light"><i class="fa fa-arrow-left"></i> Go back</button>
    <h1>Live Telemetry</h1>
    <div class="form-group form-inline">
        <select class="form-control ml-2" ng-options="race as race.circuit.name + ' - ' + (race.date | date:'d MMM yyyy') + ' (' + race.status + ')' group by race.country for race in races"
                ng-model="race" ng-change="reloadRace()">
            <option value="">-- Select Race To Show --</option>
        </select>
    </div>
    <div class="card mt-3" ng-if="race" style="background: rgba(0, 0, 0, 0.5);">
        <div class="ml-0 mr-0 card-header row">
            <div class="col-5">
                <b>{{race.circuit.name}}</b>
            </div>
            <div class="col-3">
                Current Lap: {{race.cars[0].lap_times.length}}
            </div>
            <div class="col-3">
                Elapsed time: {{race.cars[0].total_time < 60 ? race.cars[0].total_time.toFixed(0) + " seconds" : (race.cars[0].total_time/60).toFixed(0) + ":" + (race.cars[0].total_time%60).toFixed(0) + " minutes"}}
            </div>
        </div>
        <div class="card-body" id="race{{race._id}}">
            <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="leaderboard-tab" data-toggle="tab" href="#leaderboard" role="tab" aria-controls="leaderboard" aria-selected="true">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="performance-tab" data-toggle="tab" href="#performance" role="tab" aria-controls="performance" aria-selected="false">Performance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="speed-tab" data-toggle="tab" href="#speed" role="tab" aria-controls="speed" aria-selected="false">Speed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="performanceGraph-tab" data-toggle="tab" href="#performanceGraph" role="tab" aria-controls="performanceGraph" aria-selected="false">Performance Graph</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="leaderboard" role="tabpanel" aria-labelledby="leaderboard-tab">
                    <h5 class="card-title">Live leaderboard</h5>
                    <table class="table" style="color: white">
                        <thead>
                        <tr>
                            <th scope="col">POS</th>
                            <th scope="col">#</th>
                            <th scope="col">NAME</th>
                            <th scope="col">LAP</th>
                            <th scope="col">LATEST LAP TIME</th>
                            <th scope="col">S1</th>
                            <th scope="col">S2</th>
                            <th scope="col">S3</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="car in race.cars">
                            <th scope="row">{{$index + 1}}</th>
                            <td><i class="fa fa-circle" style="font-size: small" ng-style="getColor(car)"></i> {{car.car.number}}</td>
                            <td>{{car.car.driver}}</td>
                            <td>{{car.lap_times.length}}</td>
                            <td ng-style="(car.laps[car.laps.length - 2] - car.laps[car.laps.length - 1]) > 0 && {'color':'green'} || {'color': 'orange'}">
                                {{car.laps[car.laps.length - 1]}}s
                                <span style="font-size: 12px">({{(car.laps[car.laps.length - 1] - car.laps[car.laps.length - 2]) > 0 ? "+" : ""}}{{(car.laps[car.laps.length - 1] - car.laps[car.laps.length - 2]) | number : 3}}s)</span>
                            </td>
                            <td ng-style="(car.lap_times[car.sector_indexes[0] - 1][0] - car.lap_times[car.sector_indexes[0]][0]) > 0 && {'color':'green'} || {'color': 'orange'}">
                                {{car.lap_times[car.sector_indexes[0]][0] | number : 3}}s
                                <span style="font-size: 12px">({{(car.lap_times[car.sector_indexes[0]][0] - car.lap_times[car.sector_indexes[0] - 1][0]) > 0 ? "+" : ""}}{{(car.lap_times[car.sector_indexes[0]][0] - car.lap_times[car.sector_indexes[0] - 1][0]) | number : 3}}s)</span>
                            </td>
                            <td ng-style="(car.lap_times[car.sector_indexes[1] - 1][1] - car.lap_times[car.sector_indexes[1]][1]) > 0 && {'color':'green'} || {'color': 'orange'}">
                                {{car.lap_times[car.sector_indexes[1]][1] | number : 3}}s
                                <span style="font-size: 12px">({{(car.lap_times[car.sector_indexes[1]][1] - car.lap_times[car.sector_indexes[1] - 1][1]) > 0 ? "+" : ""}}{{(car.lap_times[car.sector_indexes[1]][1] - car.lap_times[car.sector_indexes[1] - 1][1]) | number : 3}}s)</span>
                            </td>
                            <td ng-style="(car.lap_times[car.sector_indexes[2] - 1][2] - car.lap_times[car.sector_indexes[2]][2]) > 0 && {'color':'green'} || {'color': 'orange'}">
                                {{car.lap_times[car.sector_indexes[2]][2] | number : 3}}s
                                <span style="font-size: 12px">({{(car.lap_times[car.sector_indexes[2]][2] - car.lap_times[car.sector_indexes[2] - 1][2]) > 0 ? "+" : ""}}{{(car.lap_times[car.sector_indexes[2]][2] - car.lap_times[car.sector_indexes[2] - 1][2]) | number : 3}}s)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="performance" role="tabpanel" aria-labelledby="performance-tab" >
                    <div class="row">
                        <div class="col-3">
                            <h5 class="card-title">Top lap times</h5>
                            <ul class="list-group" >
                                <li ng-repeat="i in [0, 1, 2, 3, 4]" class="list-group-item" style="background: rgba(225, 225, 225, 0.5);">
                                    {{lap_times[i].time}}s <span class="float-right">{{lap_times[i].car.car.driver}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h5 class="card-title">Top Sector 1 times</h5>
                            <ul class="list-group">
                                <li ng-repeat="i in [0, 1, 2, 3, 4]" class="list-group-item" style="background: rgba(225, 225, 225, 0.5);">
                                    {{sector_times[0][i].time}}s <span class="float-right">{{sector_times[0][i].car.car.driver}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h5 class="card-title">Top Sector 2 times</h5>
                            <ul class="list-group">
                                <li ng-repeat="i in [0, 1, 2, 3, 4]" class="list-group-item"style="background: rgba(225, 225, 225, 0.5);">
                                    {{sector_times[1][i].time}}s <span class="float-right">{{sector_times[1][i].car.car.driver}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h5 class="card-title">Top Sector 3 times</h5>
                            <ul class="list-group">
                                <li ng-repeat="i in [0, 1, 2, 3, 4]" class="list-group-item" style="background: rgba(225, 225, 225, 0.5);">
                                    {{sector_times[2][i].time}}s <span class="float-right">{{sector_times[2][i].car.car.driver}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="speed" role="tabpanel" aria-labelledby="speed-tab">
                    <div class="row">
                        <div class="col-3">
                            <h5 class="card-title">Top lap speeds</h5>
                            <ul class="list-group">
                                <li ng-repeat="i in [0, 1, 2, 3, 4]" class="list-group-item" style="background: rgba(225, 225, 225, 0.5);">
                                    {{race.circuit.lap_distance/(lap_times[i].time/3600) | number: 0}}km/h <span class="float-right">{{lap_times[i].car.car.driver}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h5 class="card-title">Top Sector 1 speeds</h5>
                            <ul class="list-group">
                                <li ng-repeat="i in [0, 1, 2, 3, 4]" class="list-group-item" style="background: rgba(225, 225, 225, 0.5);">
                                    {{(race.circuit.lap_distance/3)/(sector_times[0][i].time/3600) | number: 0}}km/h <span class="float-right">{{sector_times[0][i].car.car.driver}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h5 class="card-title">Top Sector 2 speeds</h5>
                            <ul class="list-group">
                                <li ng-repeat="i in [0, 1, 2, 3, 4]" class="list-group-item" style="background: rgba(225, 225, 225, 0.5);">
                                    {{(race.circuit.lap_distance/3)/(sector_times[1][i].time/3600) | number: 0}}km/h <span class="float-right">{{sector_times[1][i].car.car.driver}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h5 class="card-title">Top Sector 3 speeds</h5>
                            <ul class="list-group">
                                <li ng-repeat="i in [0, 1, 2, 3, 4]" class="list-group-item" style="background: rgba(225, 225, 225, 0.5);">
                                    {{(race.circuit.lap_distance/3)/(sector_times[2][i].time/3600) | number: 0}}km/h <span class="float-right">{{sector_times[2][i].car.car.driver}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="performanceGraph" role="tabpanel" aria-labelledby="performanceGraph-tab">
                    <canvas id="myChart" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<script type = "text/javascript">
    var ctx = $('#myChart');
    var data = {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [
            {
                label: '# of Votes',
                data: [12, 13, 14, 15, 16, 17],
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            },
            {
                label: '# of Comments',
                data: [12, 13, 14, 15, 16, 17],
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }
        ]
    };
    const options = {
        scales: {
            yAxes: [{
                ticks: {
                    reverse: true,
                    callback: function (value) { if (Number.isInteger(value)) { return value; } }
                }
            }]
        },
        elements: {
            line: {
                tension: 0
            }
        },
        animation: false
    };
    var myChart = new Chart(ctx, {type: "line", data, options});
    myChart.chart.width = 0;
    myChart.resize();
    console.log($('#performanceGraph-tab'));
    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
        ctx = $('#myChart');
        function getBoxWidth(labelOpts, fontSize) {
            return labelOpts.usePointStyle ?
                fontSize * Math.SQRT2 :
                labelOpts.boxWidth;
        };

        Chart.NewLegend = Chart.Legend.extend({
            afterFit: function() {
                this.height = this.height + 100;
            },
        });

        function createNewLegendAndAttach(chartInstance, legendOpts) {
            var legend = new Chart.NewLegend({
                ctx: chartInstance.chart.ctx,
                options: legendOpts,
                chart: chartInstance
            });

            if (chartInstance.legend) {
                Chart.layoutService.removeBox(chartInstance, chartInstance.legend);
                delete chartInstance.newLegend;
            }

            chartInstance.newLegend = legend;
            Chart.layoutService.addBox(chartInstance, legend);
        }

// Register the legend plugin
        Chart.plugins.register({
            beforeInit: function(chartInstance) {
                var legendOpts = chartInstance.options.legend;

                if (legendOpts) {
                    createNewLegendAndAttach(chartInstance, legendOpts);
                }
            },
            beforeUpdate: function(chartInstance) {
                var legendOpts = chartInstance.options.legend;

                if (legendOpts) {
                    legendOpts = Chart.helpers.configMerge(Chart.defaults.global.legend, legendOpts);

                    if (chartInstance.newLegend) {
                        chartInstance.newLegend.options = legendOpts;
                    } else {
                        createNewLegendAndAttach(chartInstance, legendOpts);
                    }
                } else {
                    Chart.layoutService.removeBox(chartInstance, chartInstance.newLegend);
                    delete chartInstance.newLegend;
                }
            },
            afterEvent: function(chartInstance, e) {
                var legend = chartInstance.newLegend;
                if (legend) {
                    legend.handleEvent(e);
                }
            }
        });

        const car_positions = angular.element($('#telemetryController')).scope().car_positions;
        const lap_times_matrix = angular.element($('#telemetryController')).scope().lap_times_matrix;
        const race = angular.element($('#telemetryController')).scope().race;
        console.log(lap_times_matrix);
        var labels = [];
        for (var i = 1; i <= race.nb_laps; i++) {
            labels.push("L" + i);
        }
        data = {
            labels,
            datasets: car_positions.map((position, i) => ({
                label: race.cars[i].car.driver,
                data: position,
                borderWidth: 1,
                borderColor: '#' + race.cars[i].car.color
                }))
        };
        console.log(car_positions);
        window.dispatchEvent(new Event('resize'));
        myChart.destroy();
        myChart = new Chart(ctx, {type: "line", data, options});
    })
</script>
</body>
</html>